html, body {
  height: 100%;
}

body {
  font-family: Avenir, "sans-serif";
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  font-size: 32px;
  background-attachment: fixed;
  background-image: radial-gradient(circle farthest-corner at center bottom, #EDEBFF 0%, #D91A80 100%);
}

.center {
  min-height: calc(100% - 40px);
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1, h2, h3 {
  margin: 0.5em 0 0.25em 0;
  text-align: center;
  line-height: 1em;
  color: #fff;
  font-weight: bold;
  font-size: 167px;
  text-shadow: 0px 0px 0 rgb(217, 217, 217), 1px 1px 0 rgb(202, 202, 202), 2px 2px 0 rgb(188, 188, 188), 3px 3px 0 rgb(173, 173, 173), 4px 4px 0 rgb(159, 159, 159), 5px 5px 0 rgb(144, 144, 144), 6px 6px 0 rgb(130, 130, 130), 7px 7px 6px rgba(0, 0, 0, 0.6), 7px 7px 1px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, .2);
}

h2, h3 {
  text-align: left;
  font-weight: normal;
  font-size: 120px;
}

h3 {
  font-size: 100px;
}

input {
  width: 100%;
  font-size: inherit;
}

juicy-jsoneditor {
  background: white;
  font-size: 24px;
}